@charset "UTF-8";:root {
	--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

*,::after,::before {
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
	box-shadow: inset 0 0 22rem #000
}

.h1,.h3,.h4,h1,h3,h4 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

.h1,h1 {
	font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
	.h1,h1 {
		font-size:2.5rem
	}
}

.h3,h3 {
	font-size: calc(1.3rem + .6vw)
}

@media (min-width: 1200px) {
	.h3,h3 {
		font-size:1.75rem
	}
}

.h4,h4 {
	font-size: calc(1.275rem + .3vw)
}

@media (min-width: 1200px) {
	.h4,h4 {
		font-size:1.5rem
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

a {
	color: #eee;
}

a:hover {
	color: #fff
}

img, svg {
	vertical-align: middle;
	margin-right: .5rem
}

.lead {
	font-size: 1.25rem;
	font-weight: 300
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn:hover {
	color: #212529
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}

.btn-secondary {
	color: #333;
	text-shadow: none
}

.btn-secondary:hover {
	color: #000
}

.btn-secondary:focus {
	color: #000;
	box-shadow: 0 0 0 .25rem rgba(130,138,145,.5)
}

.btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	border-radius: .3rem
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav-link {
	display: block;
	padding: .5rem 1rem;
	color: #0d6efd;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.nav-link:focus,.nav-link:hover {
	color: #0a58ca
}

.d-flex {
	display: flex!important
}

.border-white {
	border-color: #fff!important
}

.w-100 {
	width: 100%!important
}

.h-100 {
	height: 100%!important
}

.flex-column {
	flex-direction: column!important
}

.justify-content-center {
	justify-content: center!important
}

.mx-auto {
	margin-right: auto!important;
	margin-left: auto!important
}

.mt-auto {
	margin-top: auto!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-auto {
	margin-bottom: auto!important
}

.p-3 {
	padding: 1rem!important
}

.px-3 {
	padding-right: 1rem!important;
	padding-left: 1rem!important
}

.fw-bold {
	font-weight: 700!important
}

.text-center {
	text-align: center!important
}

.text-white {
	color: #fff!important
}

.text-white-50 {
	color: rgba(255,255,255,.5)!important
}

.bg-image {
	background: #000 url("background.jpg") repeat fixed;
}

.bg-white {
	background-color: #fff!important
}

@media (min-width: 768px) {
	.float-md-start {
		float:left!important
	}

	.float-md-end {
		float: right!important
	}
}


.cover-container {
	max-width: 42em
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255,255,255,.5);
	background-color: transparent;
	border-bottom: .25rem solid transparent
}

.nav-masthead .nav-link:focus,.nav-masthead .nav-link:hover {
	border-bottom-color: rgba(255,255,255,.25)
}

.nav-masthead .nav-link+.nav-link {
	margin-left: 1rem
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff
}
